html, body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100vh;
    font-family: "Silk Serif" !important;
    background: #121212;
    cursor:url("https://raw.githubusercontent.com/codegridweb/Creative-Agency-Landing-Page-Concept/master/cursor.png"), auto !important;
}

.loading-screen {
    position: absolute;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background: #0f0f0f;
}

.loading-screen .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loading-screen .intro h1 {
    font-weight: 300;
    color: #fff;
}

.intro-title .letter {
    display: inline-block;
    line-height: 1em;
}

.hero--left {
    position: absolute;
    height: 100vh;
    background: url("https://raw.githubusercontent.com/codegridweb/Creative-Agency-Landing-Page-Concept/master/hero--left.jpg") no-repeat 100% 50%;
    background-size: cover;
    animation: animatedBackground1 4s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 4.8s;
}

.hero--middle {
    background: whiten  ;
}

.hero--right {
    position: absolute;
    background: url("https://raw.githubusercontent.com/codegridweb/Creative-Agency-Landing-Page-Concept/master/hero--right.jpg") no-repeat 50% 50%;
    background-size: 124%;
    animation: animatedBackground2 5s cubic-bezier(0.19, 1, 0.22, 1);
    animation-delay: 3.8s;
}

@keyframes animatedBackground1 {
    from {
        background-position: 50% 50%
    } 
    to {
        background-position: 100% 50%;
    }
}

@keyframes animatedBackground2 {
    from {
        background-size: 280%;
    } 
    to {
        background-position: 124%;
    }
}